<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Link to an external CSS file for styling the page -->
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">

    <link rel="stylesheet" href="{% static 'css/adminpages/changePassword.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passowrd</title>
</head>
<body>
    {% include 'pages/admin/navBar.html'%}
    <br>
    <h1>Change Password</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <label for="oldPass">Old passowrd</label>
            <br>
            <input type="password" id="oldPass" name="oldpassword">    
        </div>
        <div class="center">
            <label for="newPass">New passowrd</label>
            <br>
            <input type="password" id="newPass" name="newpassword">    
        </div>
        <div class="center">
            <label for="confirm">Confirm passowrd</label>
            <br>
            <input type="password" id="confirm" name="newpassword2">    
        </div>
        <div class="center">
            <input class="submit" type="submit" value="Change">    
        </div>
        <!-- <div id="message-container" onsubmit="showMessage"></div> -->

    </form>


    <!-- <script>
        // Show the message for 3 seconds (adjust as needed)
        function showMessage(message) {
            const container = document.getElementById('message-container');
            container.textContent = message[length(message)-1];
            container.style.display = 'block';
    
            setTimeout(() => {
                container.style.display = 'none';
            }, 3000); // Hide after 3 seconds
        }
    </script> -->
    
</body>
</html>