<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css-files/changePassword.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passowrd</title>
</head>
<body>
    <nav>
        <ul>
            <!-- Home page -->
            <li><a href="adminPage.html">Home</a>
            <li><a href="bookList.html">Books</a>
            <li><a href="addBook.html">Add-Book</a>
            <li><a href="deleteBook.html">Delete-Book</a> 
            <li><a href="profile.html">Profile</a>     
        </ul>      
    </nav>
    <br>
    <h1>Change Password</h1>
    <br>
    <form>
        <div class="center">
            <label for="oldPass">Old passowrd</label>
            <br>
            <input type="password" id="oldPass" name="password">    
        </div>
        <div class="center">
            <label for="newPass">New passowrd</label>
            <br>
            <input type="password" id="newPass" name="password">    
        </div>
        <div class="center">
            <label for="confirm">Confirm passowrd</label>
            <br>
            <input type="password" id="confirm" name="password">    
        </div>
        <div class="center">
            <input class="submit" type="submit" value="Change">    
        </div>
        
    </form>
</body>
</html>