<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete-Book</title>
    <link rel="stylesheet" href="../css-files/editBook.css">
</head>
<body>
    <div class = "mainPage">
        <nav>
            <ul>
                <li><a href="{% url 'adminHome' %}">Home</a>
                <li><a href="{% url 'adminBooks' %}">Books</a>
                <li><a href="{% url 'addBookPage'  %}">Add-Book</a>
                <li><a href="{% url 'deleteBookPage' %}">Delete-Book</a> 
                <li><a href="{% url 'adminProfile'  %}">Profile</a>    
            </ul>      
        </nav>
        <h1>Delete-Book</h1>
        <form action="" id="deleteForm">
            <label for="bookInput">Book ID</label><br>
            <input type="text" id="bookIdInput" required><br>
            <input class="submit" type="submit" value="Delete-Book" id="addDelete">
        </form>
    </div>
    <script src="../java-files/deleteBookForm.js"></script>
</body>
</html>