<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css-files/editBook.css">
    <title>Edit book</title>
</head>
<body>
    <div class = "mainPage">
        <nav>
            <ul>
                <!-- Home page -->
                <li><a href="adminPage.html">Home</a>
                <li><a href="bookList.html">Books</a>
                <li><a href="addBook.html">Add-Book</a>
                <li><a href="deleteBook.html">Delete-Book</a> 
                <li><a href="profile.html">Profile</a>    
            </ul>      
        </nav>
        <h1>Edit-Book</h1>
        <div class = "button">
                <button onclick="showBookDetails()" >show book details</button>
        </div>
        <form id ="addBookForm" onsubmit="saveEditBookDetails()">
            <label for="book_id">Edit Book ID</label><br>
            <input type="text" id="book_id" value='' required><br>
    
            <label for="book_name">Edit Book Name</label><br>
            <input type="text" id="book_name"  value='' required><br>
    
            <label for="author">Edit Author Name</label><br>
            <input type="text" id="author" value=''  required><br>
    
            <label for="category">Edit Category</label><br>
            <input type="text" id="category" value=''  required><br>
    
            <label for="description">Edit Description</label><br>
            <textarea id="description" rows="4" cols="50"  value='' required></textarea><br>
            
            <input class="submit" type="submit" value="Save changes" id="addDelete">

            
            
        </form>
    </div>
    <script src="../java-files/editBook.js"></script>
    <br>
    <br>
    <br>
    
</body>
</html>
