@font-face {
    font-family: Bitter;
    src: url(../../Bitter/Bitter-VariableFont_wght.ttf);
}

body {
    /* Set background image and adjust properties */
    background-image: url(../../images/libraryPhoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Style the main container */
.mainPage {
    width: 80%; /* Set width */
    max-width: 1200px; /* Maximum width */
    margin: 0 auto; /* 
    Sets margin to 0 on the top and bottom, 
    and 'auto' horizontally, which centers the element horizontally within its container.
 */
}


/* Style the unordered list */
ul {
    display: flex; /* Display list items horizontally */
    list-style-type: none; /* Remove default list bullet points */
    height: 5em; /* Set fixed height */
}

/* Style list items */
li {
    margin-top: 1em; /* Add margin at the top */
}

/* Style anchor tags */
a {
    display: block; /* Display as block element */
    text-decoration: none; /* Remove underline */
    margin-right: 2em; /* Margin between anchor tags */
    color: white; /* Text color */
    font-size: 1.5em; /* Font size */
}

/* Hover effect for anchor tags */
ul li a:hover {
    background-color: red; /* Change background color on hover */
    border-radius: 100%; /* Make rounded */
}

/* Style navigation bar */
nav {
    margin : 1em auto ; /* Sets margin to 1em on the top and bottom, 
    and 'auto' horizontally, 
    which centers the element horizontally 
    within its container. */ 
    background-color: black;
    height: 4em; 
    border-radius: 10em; /* Rounded corners */
}

/* Hover effect for navigation bar */
nav:hover {
    transform: scale(1.1); /* Scale effect */
    transition: transform 0.5s ease; /* Smooth transition */
}

/* Style labels */
label {
    color: white; /* Text color */
    font-size: 2em; /* Font size */
}

/* Style input fields */
input {
    border-radius: 5em; /* Rounded corners */
    font-size: 1.5em; /* Font size */
}

/* Style anchor tags inside forms */
form a {
    color: white; /* Text color */
    margin-left: 0.2em; /* Left margin */
    font-size: 2em; /* Font size */
}

/* Style form */
form {
    border-radius: 5em; /* Rounded corners */
    width: 30em; /* Width */
    height: 10%; /* Height */
    padding: 2em; /* Padding */
    margin-top: 10em; /* Top margin */
    float: left; /* far to the left */
    background-image: url(../../images/loginPhoto.jpg); /* Background image */
    background-position: 250px 0;
    background-size: cover; /* Cover background */
}

/* Hover effect for form */
form:hover {
    transform: scale(1.1); /* Scale effect */
    transition: transform 0.3s ease; /* Smooth transition */
}



/* Style the quote section */
.quote {
    margin-top: 3em; /* Top margin */
    float: right; /* Float right */
    font-size: 28pt; /* Font size */
    color: white; /* Text color */
    font-weight: bold; /* Bold font */
    background-color: black; /* Background color */
    width: 10%; /* Width */
    padding: 1em; /* Padding */
    border-radius: 75px; /* Rounded corners */
}
label{
    color : white ;
    font-weight: bold ;
}
form a:hover{
    color : red ;
}