<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/userPages/bookList.css' %}">
    <title>Books</title>
</head>
<body>
    <div class =  "mainPage">
        <nav>
            <ul>
                <li><a href="{% url 'userPage' %}">Home</a></li>
                <li><a href="{% url 'userBooks' %}">Books</a>
                <li><a href="{% url 'borrowedBooks' %}">Borrowed-Books</a>
                <li><a href="{% url 'userContact' %}">Contact</a>
                <li><a href="{% url 'userAbout' %}">About</a>
                <li><a href="{% url 'userProfile' %}">Profile</a>
                <li><input id="search-input" class="search" type="text" placeholder="Search..."
                    style = "border-radius: 4em ; padding : 0.5em">
            </ul>
        </nav>
        <div class = "mainContainer">
            {% for book in books %}
                <div class = "imageContainer">
                    <a href="{% url 'userBookDetails' book.id %}">
                        <img src="{{book.image.url}}" alt="{{book.name}}">
                        <div class="bName">{{book.name}}</div>
                    </a>  
                </div>  
            {% endfor %} 
        </div>
    </div>
    <script>
        document.getElementById('search-input').addEventListener('keypress',function(){
            if(event.key === 'Enter'){
                var search = document.getElementById('search-input').value;
                if(search.trim() !== ''){
                    window.location.href = '{% url "userBooks" %}?search='+encodeURIComponent(search);
                }
                else{
                    window.location.href = '{% url "userBooks" %}';
                }
            }
            
        });
    </script>
</body>
</html>
