
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="../css-files/bookDescription.css">
</head>
<body>
    <div class="mainPage">
        <nav>
            <ul>
                <li><a href="userPage.html">Home</a></li>
                <li><a href="bookList.html">Books</a>
                <li><a href="contact.html">Contact</a>
                <li><a href="about.html">About</a>
                <li><a href="profile.html">Profile</a>    
            </ul>
        </nav> 
        <h1>Borrowed Books</h1>
        <div id="borrowedBooksContainer">
            <!-- Existing content or other elements in the container -->
        </div>

        <script src="../java-files/borrowedBook.js"></script>
    </div>

</body>
</html>