<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../admin/css-files/changePassword.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passowrd</title>
</head>
<body>
    <br>
    <h1>Change Password</h1>
    <br>
    <form>
        <div class="center">
            <label for="oldPass">Old passowrd</label>
            <br>
            <input type="password" id="oldPass" name="password">    
        </div>
        <div class="center">
            <label for="newPass">New passowrd</label>
            <br>
            <input type="password" id="newPass" name="password">    
        </div>
        <div class="center">
            <label for="confirm">Confirm passowrd</label>
            <br>
            <input type="password" id="confirm" name="password">    
        </div>
        <div class="center">
            <input class="submit" type="submit" value="Change">    
        </div>
        
    </form>
</body>
</html>