<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/adminpages/changePassword.css'%}">
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passowrd</title>
</head>
<body>
    {% include 'pages\user\navBar.html' %}
    <br>
    <h1>Change Password</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <label for="oldPass">Old passowrd</label>
            <br>
            <input type="password" id="oldPass" name="oldpassword">    
        </div>
        <div class="center">
            <label for="newPass">New passowrd</label>
            <br>
            <input type="password" id="newPass" name="newpassword">    
        </div>
        <div class="center">
            <label for="confirm">Confirm passowrd</label>
            <br>
            <input type="password" id="confirm" name="newpassword2">    
        </div>
        <div class="center">
            <input class="submit" type="submit" value="Change">    
        </div>
        
    </form>
</body>
</html>