<!DOCTYPE html> 
<html lang="en"> 
 <head> 
  <meta charset="UTF-8" /> 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/userPages/profile.css' %}">
  <title>Profile</title> 
 
  <style></style> 
 </head> 
 <body>
    <div class="mainPage"> 
        <nav>
            <ul>
                <li><a href="{% url 'userPage' %}">Home</a></li>
                <li><a href="{% url 'userBooks' %}">Books</a>
                <li><a href="{% url 'userContact' %}">Contact</a>
                <li><a href="{% url 'userAbout' %}">About</a>
                <li><a href="{% url 'userProfile' %}">Profile</a> 
            </ul> 
        </nav> 
        <script>
            function x(event) {
                let char = String.fromCharCode(event.which);
                if (!(/[0-9]/.test(char))) {
                    alert('invalid phone number')
                    event.preventDefault();
                }
            }
        </script>
        <div class="profile-container"> 
            <h2 class="lbl">User Profile</h2> 
            <div class="profile-photo"> 
                <img src="{{data.userImage.url}}" alt="Profile Photo" /> 
            </div> 
            <div class="form-group"> 
                <form method="post" >
                    {% csrf_token %}
                <label class="lbl" for="username">Username:</label> 
                <input 
                 type="text" 
                 id="username" 
                 name="username" 
                 value="{{data.username}}" 
                 placeholder="Enter your username" 
                 disabled 
                /> 
               </div>
               <div class="form-group"> 
                <label class="lbl" for="email">Email:</label> 
                <input 
                 type="email" 
                 id="email" 
                 name="email" 
                 value="{{data.email}}" 
                 placeholder="Enter your email" 
                 disabled 
                /> 
               </div>
               <div class="form-group"> 
                   <label class="lbl" for="Address">Address:</label> 
                   <input 
                    type="text" 
                    id="Address" 
                    name="Address" 
                    value="{{data.address}}" 
                    placeholder="Enter your Address" 
                   /> 
                  </div> 
                  <div class="form-group"> 
                   <label class="lbl" for="phone">phone:</label> 
                   <input 
                    type="text" 
                    id="phone" 
                    name="phone" 
                    value="{{data.phoneNumber}}" 
                    placeholder="Enter your phone"
                    onsubmit="x(event)"
                   /> 
                   <div class="links-container"> 
                       <input type="submit" id="change" name="change" value="modify">
                   </div> 
                </form>
               </div> 
        <div class="links-container"> 
            <a href="{% url 'userChangePassword' %}">Change Password</a> 
        </div> 
    </div> 
 
    <a href="{% url 'borrowedBooks' %}" class="borrowed">Borrowed Books</a> 
  </div> 
 </body> 
</html> 
 
<!-- <form> 
                <div class="imageContainer"> 
                    <div> 
                        <img src="../../images/profile.jpg" alt="no image" /> 
                        <br /><br /> 
                    </div> 
                    <div> 
                        <label class="image" for="changeImage" 
                            >upload photo</label 
                        > 
                        <input 
                            type="file" 
                            accept="image/*" 
                            id="changeImage" 
                            value="profileImage" 
                        /> 
                        <br /><br /> 
                    </div> 
                </div> 
                <div class="all"> 
                    <div> 
                        <label for="fname">First Name</label> 
                        <label 
                            style="position: relative; left: 13em" 
                            for="Lname" 
                            >Last name</label 
                        ><br /> 
                        <input type="text" id="fname" name="fname" /> 
                        <input 
                            style="position: relative; left: 7em" 
                            type="text" 
                            id="Lname" 
                            name="Lname" 
                        /> 
                        <br /><br /> 
                    </div> 
                    <div> 
                        <label for="country">Country</label> 
                        <label 
                            style="position: relative; left: 14em" 
                            for="address" 
                            >address</label 
                        ><br /> 
                        <input type="text" id="country" name="country" /> 
                        <input 
                            style="position: relative; left: 7em" 
                            type="address" 
                            id="address" 
                            name="address" 
                        /> 
                        <br /><br /> 
                    </div> 
                    <div> 
                        <label for="phone">Phone</label> 
                        <label 
                            style="position: relative; left: 15em" 
                            for="email" 
                            >Email</label 
                        ><br /> 
                        <input type="text" id="phone" name="phone" />

Ziad Etman FCAI, [4/21/2024 9:48 PM]
<input 
                            style="position: relative; left: 7em" 
                            type="email" 
                            id="email" 
                            name="email" 
                        /> 
                        <br /><br /> 
                    </div> 
 
                    <div> 
                        <input type="submit" value="Save" /> 
                    </div> 
                </div> 
            </form> --> 
 
<!-- <div class="links"> 
    <ul> 
     <li> 
      <a class="fn" href="changePassword.html" 
       >change Password</a 
      > 
     </li> 
     <li> 
      <a class="fn" href="borrowedBooks.html" 
       >borrowed books</a 
      > 
     </li> 
    </ul> 
   </div> -->