<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">   
</head>
<body>
    <div class="mainPage">
        <nav>
            <ul>
                <li><a href="{% url 'userPage' %}">Home</a></li>
                <li><a href="{% url 'userBooks' %}">Books</a>
                <li><a href="{% url 'userContact' %}">Contact</a>
                <li><a href="{% url 'userAbout' %}">About</a>
                <li><a href="{% url 'userProfile' %}">Profile</a>    
            </ul>
        </nav> 
        <div class = "quote">
            the more you learn the more you know
        </div>
    </div>
    <script src="main/java-files/index.js"></script>
</body>
</html>
