<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="../../main/css-files/index.css">    
    <!-- Title of the page -->
    <title>Online library</title>
</head>
<body>
    <div class="mainPage">
        <nav>
            <ul>
                <li><a href="userPage.html">Home</a></li>
                <li><a href="bookList.html">Books</a>
                <li><a href="contact.html">Contact</a>
                <li><a href="about.html">About</a>
                <li><a href="profile.html">Profile</a>    
            </ul>
        </nav> 
        <div class = "quote">
            the more you learn the more you know
        </div>
    </div>
    <script src="main/java-files/index.js"></script>
</body>
</html>
